
## <summary>policy for yiya</summary>


########################################
## <summary>
##	Transition to yiya.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`yiya_domtrans',`
	gen_require(`
		type yiya_t, yiya_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, yiya_exec_t, yiya_t)
')


########################################
## <summary>
##	Execute yiya server in the yiya domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`yiya_initrc_domtrans',`
	gen_require(`
		type yiya_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, yiya_initrc_exec_t)
')


########################################
## <summary>
##	Search yiya lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`yiya_search_lib',`
	gen_require(`
		type yiya_var_lib_t;
	')

	allow $1 yiya_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read yiya lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`yiya_read_lib_files',`
	gen_require(`
		type yiya_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, yiya_var_lib_t, yiya_var_lib_t)
')

########################################
## <summary>
##	Manage yiya lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`yiya_manage_lib_files',`
	gen_require(`
		type yiya_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, yiya_var_lib_t, yiya_var_lib_t)
')

########################################
## <summary>
##	Manage yiya lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`yiya_manage_lib_dirs',`
	gen_require(`
		type yiya_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, yiya_var_lib_t, yiya_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a yiya environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`yiya_admin',`
	gen_require(`
		type yiya_t;
		type yiya_initrc_exec_t;
		type yiya_var_lib_t;
	')

	allow $1 yiya_t:process { ptrace signal_perms };
	ps_process_pattern($1, yiya_t)

	yiya_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 yiya_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, yiya_var_lib_t)

')

